---
layout: default
show_sidebar: false
---

<div class="columns is-multiline">

  <div class="column is-12">
    {{ page.content }}
  </div>

  {% assign items = page.pdfs %}

  {% for pdf in page.pdfs %}
  <div class="column is-4-desktop is-6-tablet">

    <div class="card">

      {% if pdf.image %}
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ pdf.image | relative_url }}" alt="{{ pdf.name }}">
        </figure>
      </div>
      {% endif %}

      <div class="card-content">

        <p class="title is-5 mb-4">{{ pdf.name }}</p>

        <div class="buttons">
          <a href="{{ pdf.file | relative_url }}"
             target="_blank"
             class="button is-small is-primary">
            Open PDF
          </a>
        </div>

      </div>

    </div>

  </div>
{% endfor %}

</div>